{% extends 'events/base.html' %}

{% block content %}


<h1 class="display-5">About Us</h1>
<br /><br />
<div id="background" style="background-image: url('https://wallpapercave.com/wp/mN6dvxE.jpg') ">
    <br /><br />


    <ul>
        <li>
            <h5>
                <p class="text-start">Weekly Dua Komail Program on Thursday evening.</p>
            </h5>
        </li>

        <li>
            <h5>
                <p class="text-start">Jom'a Salat.</p>
            </h5>
        </li>
        <li>
            <h5>
                <p class="text-start">Special programs during Muharram, Fatemieh, and Ramadan.</p>
            </h5>
        </li>
        <li>
            <h5>
                <p class="text-start">Commemoration of Birth of Masoumeen.</p>
            </h5>
        </li>
        <li>
            <h5>
                <p class="text-start">Commemoration of Martyrdom of Masoumeen.</p>
            </h5>
        </li>
        <li>
            <h5>
                <p class="text-start">Celebration of Eids.</p>
            </h5>
        </li>
    </ul>
    <br />
    <br />
    <br /><br /><br />
    <br /><br /><br />
    <br /><br /><br />
    <br /><br /><br /><br />
</div>


{% endblock %}