{% extends 'events/base.html' %}

{% block content %}


<h1 class="display-5">Donations</h1>
<div id="content" class="site-content no-slider" style="padding-top: 71.9921px;">
	<div class="mid-content clearfix">
		<div id="primary" class="content-area">
			<main id="main" class="site-main" role="main">


				<article id="post-477"
					class="article-wrap post-477 post type-post status-publish format-standard hentry category-donations">



					<div class="entry-content">
						<p style="font-size: 22px; font-weight: bold;"><strong>Friends of Ershad Center Salaamon
								Alaikum,</strong></p>
						<p style="font-weight: 500; font-size: 20px; text-align: justify;">As we are planning for the
							Ershad Centerr’s program in 2022, we would like to remind all the friends that you can
							donate money to support Ershad Center and its programs in 2022 using Cheque, Bank Transfer,
							or cash:</p>
						<ol style="font-weight: 500; font-size: 20px; text-align: justify;">
							<li>Please write your Cheques ??????? and mail it to:<br>

								<strong>Please write??in the reference of your cheques. </strong>
							</li>
							<li>Transfer through Bank of ???? using email:<br>
								<a href="?????">????</a><br>

							<li>You can submit your cash in an envelope with your name and email on it so that we can
								issue a receipt through email from <a href="mailto: info@ershadcenter.org">
									info@ershadcenter.org</a></li>
							<li>If you would like to <strong><span style="color: red;">donate food</span></strong>
								please send an email to <a href="mailto: info@ershadcenter.org">
									info@ershadcenter.org</a> <strong><span style="color: red;">at least one week ahead
										of time</span></strong> and let us know the following information:
								<ul>
									<li>The date you would like to bring the food</li>
									<li>The type of food you intend to bring.</li>
									<li>The number of people you intend to feed.</li>
								</ul>
							</li>
						</ol>
						<p style="font-size: 20px; color: red;"><strong>Please make sure that supplier uses Zabiha Halal
								items for preparation of the food.</strong></p>
						<p><span style="font-size: 20px; font-weight: bold; line-height: 20px;">Thank you<br>
								Ershad Center</span></p>
						<div class="apss-social-share apss-theme-1 clearfix ">





						</div>
					</div><!-- .entry-content -->



				</article><!-- #post-## -->




			</main><!-- #main -->
		</div><!-- #primary -->

	</div>

</div>

{% endblock %}