{% extends 'events/base.html' %}

{% block content %}

<h1 class="display-5">Library</h1>
<center>


<div id="background" style="background-image: url('https://i.ytimg.com/vi/6nb8gkk4pR4/maxresdefault.jpg') ">
    <br/><br/>
   
    <div class="wp-block-column">
    <div class="wp-block-media-text alignwide has-media-on-the-right" style="grid-template-columns:auto 16%">
    <figure class="wp-block-media-text__media"><img loading="lazy" width="150" height="150" src="https://ketaab.iec-md.org/images/e-library_340x210.jpg" alt="" class="wp-image-1046"   /></figure>  
    <div class="wp-block-media-text__content">
    <p class="has-text-align-right has-medium-font-size"><a href="https://ketaab.iec-md.org/index.html"><strong>ketaab.iec-md.org</strong></a></p>
    </div>
    <br/>
    <div class="wp-block-column">
    <div class="wp-block-media-text alignwide" style="grid-template-columns:17% auto">
    <figure class="wp-block-media-text__media"><img loading="lazy" width="200" height="200" src="https://cdn2.iconfinder.com/data/icons/ramadan-kareem-14/512/200_Quran_book_islam_ramadhan_star-512.png" alt="" class="wp-image-1048"  sizes="(max-width: 246px) 100vw, 246px" /></figure>
    </div>
    <div class="wp-block-media-text__content">
    <p class="has-medium-font-size"><a href="http://al-Islam.org"><strong>Al.Islam.org</strong></a></p>
     
</div>
</center>
 {% endblock %}   