<nav class="navbar  top:25  navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand"  href="{% url 'home' %}">HOME</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          
        
          <li id="#about"class="nav-item">
            <a class="nav-link" href= "{% url 'pray-time' %}" >PRAYER TIME</a>
          </li>
        
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              EVENTS
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a id="#event"class="dropdown-item" href="{% url 'list-events' %}">All Events</a></li>
              <li><a class="dropdown-item" href="{% url 'event_text' %}">Event Text File</a></li>
              {% if user.is_authenticated %}
              <li><a class="dropdown-item" href="{% url 'add-event' %}">Add Event</a></li>
              <li><a class="dropdown-item" href="{% url 'my_events' %}">MY Events</a></li>
              
          
              {% endif %}
              <li><a class="dropdown-item" href="{% url 'search_events' %}">search Events</a></li>
              
            </ul>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Venues
            </a>
            
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{% url 'list-venues' %}">All Venues</a></li>
              {% if user.is_authenticated %}
              <li><a class="dropdown-item" href="{% url 'add-venue' %}">Add Venue</a></li>
              {% endif %}
              
            </ul>
          </li> 
          {% endif %} 
          <li class="nav-item">
            <a class="nav-link"  href="{% url 'library' %}">LIBRARY</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  href="{% url 'add-info' %}">CONTACT US</a>
          </li>
          <!--{% if user.is_authenticated %} 
          <li class="nav-item">
            <a class="nav-link"  href="{% url 'logout' %}">LOGOUT</a>
          </li>
          {% else %} 
          <li class="nav-item">
            <a class="nav-link"  href="{% url 'register_user' %}">REGISTER</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  href="{% url 'login' %}">LOGIN</a>
          </li>
          {% endif %} -->
          <li class="nav-item">
            <a class="nav-link" href="{% url 'donation' %}">DONATIONS</a>
          </li>
        </ul>
        
        <form class="d-flex" method=POST action="{% url 'search_events' %}">
          {% csrf_token %}
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        
      </div>
    </div>
  </nav>
  