
{% extends 'events/base.html' %}

{% block content %}

<h1 class="display-5">PrayTime</h1>
<div id="background" style="background-image: url('https://wallpapercave.com/wp/8TElpjz.jpg') ">
    <br/><br/>
  
   
    <script type="text/javascript" src="http://www.muslimpro.com/muslimprowidget.js?cityid=4164138&convention=Tehran&asrjuristic=Standard" async></script>
   <br/>
   <script type="text/javascript" src="http://praytimes.org/code/v2/js/examples/monthly.htm"></script> 
  </div> 
  
<div class="tab-pane" id="about" role="tabpanels" aria-labelledby="about-tab">
    <div class="text-center">
        <p>
            Website: <a id='prayertime' href="http://praytime.info">PrayTime.info</a><br>
            <!-- Contact: <a href="mailto:admin@praytime.info">admin@praytime.info</a> -->
        </p>    
</div>
    
           <center>       
            <footer>
                         
                <div>
                    <h3 style="text-align: center;"><a href="http://praytime.info/#monthly">Monthly Pray Time</a></h3>
                   
                    Copyright © 2022   <br/><br/><br/><br/><br/><br/>
             </div>
            </footer>

        </center> 
         
           
    
        </div>
    
   
       
    

    


{% endblock %}  